<ul class="list-group songs">
  <div class="list-group-item form-inline">
    {{input value=title type="text" class="form-control new-song" placeholder="New Song"}}
    <button {{action "createSong"}} class="btn btn-primary new-song-button">Add</button>
  </div>
  {{#each model.songs as |song| }}
    <li class="list-group-item song">
      {{song.title}}
      <span class="rating pull-right">{{song.rating}}</span>
    </li>
  {{/each}}
</ul>
